.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  font-weight: bold;
  padding-top: 200px;
}

.display-4 {
  font-size: 60px;
}

.col {
  margin-left: 150px;
}

.btn {
  border-radius: 40px;
}

.full-stop {
  color: aqua;
  font-size: 70px;
}

.overlap-buttons {
  display: flex;
  flex-direction: row;
}

.overlap {
  background: white;
  color: black;
  border: 1px solid grey;
  margin: 60px 0;
  padding: 5px 50px;
  border-bottom: 5px solid purple;
}

.cover {
  color: lightgrey;
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.blog-title {
  color: rgb(54, 54, 54);
  font-size: 18px;
  margin-bottom: 50px;
}

.num {
  position: absolute;
  bottom: 10px;
}